footer{
    .footer__links a{
        position: relative;
        &::after{
            content: '';
            height: 2px;
            width: 0px;
            background-color: $white;
            position: absolute;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
            transition: width $hover-text-tming linear;
            
        }
        &:hover::after{
            width: 24px;
        }
    }

    .social-media__links a{
        position: relative;
        &::after{
            content: '';
            height: 2px;
            width: 0px;
            background-color: $white;
            position: absolute;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
            transition: width $hover-text-tming linear;
            
        }
        &:hover::after{
            width: 100%;
        }
    }
}